{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="title">
        <h1>ToDo App</h1>
    </div>
    <div class="heading">
        <div class="day">
            <h2>My Day</h2>
        </div>
        <div class="date">
            <h3>{{ today|date:"jS F Y" }}</h3>
        </div>
    </div>
    <div class="container">
        <div class="right_container">
            <div class="task_list">
                <div class="show_task">
                    <h3>This is some task</h3>
                    <button class="done"><i class="fa-solid fa-check"></i></button>
                    <button class="delete"><i class="fa-solid fa-trash-can"></i></button>
                    <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
                </div>
            </div>
        </div>
        <div class="left_container">
            <h2>Completed Task</h2>
            <div class="task_list">
                <div class="show_task">
                    <h3>This is some completed task</h3>
                </div>
            </div>
        </div>
        <div class="add_task">
            <input type="text" placeholder="Add a task here..." />
            <button class="add_btn">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        
    </div>
</body>
</html>