{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="title">
        <h1>ToDo App</h1>
    </div>
    <div class="heading">
        <div class="day">
            <h2>My Day</h2>
        </div>
        <div class="date">
            <h3>{{ today|date:"jS F Y" }}</h3>
        </div>
    </div>
    <div class="container">
        <div class="right_container">
            <h2>Incomplete Task</h2>
            <div class="task_list">
                {% for task in tasks %}
                <div class="show_task">
                    <h3>{{ task }}</h3>
                
                    <!-- DONE -->
                    <a href="{% url 'mark_as_done' task.pk %}" class="action-btn done">
                        <i class="fa-solid fa-check"></i>
                    </a>
                
                    <!-- DELETE -->
                    <a href="{% url 'deleteTask' task.pk %}" class="action-btn delete">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                
                    <!-- EDIT -->
                    <a onclick="openModal('{{task.pk}}','{{task.task|escapejs}}')" class="action-btn edit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </div>
                
                {% endfor %}
            </div>
        </div>
        <div class="left_container">
            <h2>Completed Task</h2>
            <div class="task_list">
                {% for c_task in c_tasks %}
                <div class="show_task">
                    <h3>{{ c_task }}</h3>
                    <a href="{% url 'mark_as_undone' c_task.pk %}" class="action-btn undo">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </div>                
                {% endfor %}
            </div>
        </div>
        <div class="add_task">
            <form action="{% url 'addTask' %}" method="POST">
                {% csrf_token %}
                <input name="task" type="text" placeholder="Add a task here..." />
                <button type="submit" class="add_btn">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </form>
        </div>
        
    </div>
    <div id="editmodal" class="modal">
        <div class="modal-content">
            <h2>Edit Task</h2>

            <form action="{% url 'editTask' %}" method="POST">
                {% csrf_token %}
                
                <!-- hidden to store task id -->
                <input type="hidden" name="task_id" id="editTaskId">

                <!-- task text here -->
                <input type="text" name="task" id="editTaskInput" value="{{get_task.task}}" required>

                <div class="modal-actions">
                    <button type="button" class="modal-cancel-btn" onclick="closeModal()">
                        Cancel
                    </button>
                
                    <button type="submit" class="modal-save-btn">
                        Save
                    </button>
                </div>
                

            </form>

        </div>
    </div>
    <script>
        function openModal(taskId,taskText){
            //Put task id into hidden input
            document.getElementById('editTaskId').value = taskId;
            //Put task text into text input
            document.getElementById('editTaskInput').value = taskText;
            //Show the popup
            document.getElementById('editmodal').style.display = 'flex';
        }
        function closeModal(){
            document.getElementById('editmodal').style.display = 'none';
        }
    </script>
</body>
</html>